MDTM should be UTC, not localtime

From Section 2.3 of [RFC 3659](https://datatracker.ietf.org/doc/html/rfc3659#section-2.3):

```text
   Time values are always represented in UTC (GMT), and in the Gregorian
   calendar regardless of what calendar may have been in use at the date
   and time indicated at the location of the server-PI.
```

The code has

```c
        if (FILE_IsFile(mdtmFileName.text) == 1 ||
            FILE_IsDirectory(mdtmFileName.text) == 1)
        {
            time_t theTime = FILE_GetLastModifiedData(mdtmFileName.text);

            struct tm newtime;
            localtime_r(&theTime, &newtime);

            strftime(theResponse, LIST_DATA_TYPE_MODIFIED_DATA_STR_SIZE, "213 %Y%m%d%H%M%S\r\n", &newtime);
            returnCode = socketPrintf(data, socketId, "s", theResponse);
```

Nice finding, I have made a patch